h1 {
    text-align: center;
    color: black;
    font-weight: bolder;
    background: lightblue;
}

h2 {
    text-align: left;
    color: black;
    font-weight: bold;
}

h3 {
    text-align: left;
    color: black;
    font-weight: bold;
}

p {
	line-height: 1.5em
}

